/* ---------- Imports ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Yusei+Magic&display=swap');
/*---------- General settings ----------*/

:root{
    --white-color: #ffffff;
    --black-color: #0F2027;
    --teal-color: #2C5364;
    --teal-gradient: linear-gradient(-45deg, #0F2027, #203A43, #2C5364 );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* html{
    font-size: 2em;
    background: var(--teal-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: ambient 20s infinite;
} */

body{
    font-family: "Poppins", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    color: var(--white-color);
    background: var(--teal-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
    font-size: 3rem;
}
/*---------- Specific settings ----------*/

.gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gameScreen{
    background-color: var(--white-color);
    color: var(--black-color);
    width: 90%;
    border-radius: 20px;
    margin: 20px 0;
    padding: 5px;
}

.scoreScreen{
    background-color: var(--white-color);
    color: var(--black-color);
    width: 90%;
    border-radius: 20px;
    margin: 20px 0;
    padding: 5px;
}

.potionsToFuse, .potionFused {
    display: inline-flex;
    width: 100%;
}

.potionsToFuse{
    justify-content: space-around;
    padding: 10px;
};

.potionContainer, .shakerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.potionContainer img, .shakerContainer img{
    width: 90px;
}

.shakerContainer img {
    margin-left: 10px;
    cursor: pointer;
}

.shaker{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.potionFused{
    justify-content: center;
    padding: 10px;
}
/* Fuse button */
#fuseMEANDLEAVEMEALONE{
    border: 2px solid var(--teal-color);
    background-color: var(--teal-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
/* ---------- Animations ---------- */
@keyframes bounceAnimation {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}

.potionContainer img:hover{
  animation-name: bounceAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes shakeAnimation {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shakerContainer img:hover{
  animation-name: shakeAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

/* --------- Media queries ---------- */
@media screen and (min-width: 700px) {
    .gameScreen{
        width: 700px;
    }
}